<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace ="com.terzobang.member.dao.MemberDAO">
 
 
 	<select id="vaildateLoginId" parameterType="string" resultType="int">
		SELECT 
			COUNT(1) 
		FROM
			`member`
		WHERE 
			`loginId` = #{loginId}
	</select>
 
 	<insert id ="insertMember" parameterType="map">
		INSERT INTO `member`
		(
			`loginId`
			, `name`
			, `password`
			, `email`
			, `address`
			, `role`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{name}
			, #{password}
			, #{email}
			, #{address}
			, #{role}
			, NOW()
			, NOW()
		) 	
 	</insert>
 	
 	<select id="selectMemberByLoginId" parameterType="string" resultType="com.terzobang.member.model.Member">
		SELECT 
			* 
		FROM
			`member`
		WHERE 
			`loginId` = #{loginId}
	</select>
	
	<select id="selectMemberByMemberName" parameterType="string" resultType="com.terzobang.member.model.Member">
		SELECT 
			* 
		FROM
			`member`
		WHERE 
			`name` = #{name}
	</select>
	
	<select id="selectMemberByMemberId" parameterType="int" resultType="com.terzobang.member.model.Member">
		SELECT 
			* 
		FROM
			`member`
		WHERE 
			`id` = #{id}
	</select>
	
	<select id="selectAllMember" resultType="com.terzobang.member.model.Member">
		SELECT 
			* 
		FROM
			`member`
		WHERE 
			`role` = #{USER} or `role` = #{VIP}
	</select>
	
	<select id="selectAllAdmin" resultType="com.terzobang.member.model.Member">
		SELECT 
			* 
		FROM
			`member`
		WHERE 
			`role` = #{ADMIN}
	</select>
	
 	

 
 </mapper>