<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace ="com.terzobang.orders.dao.OrdersDAO">
 
 	<insert id ="insertOrders" parameterType="com.terzobang.orders.model.Orders" useGeneratedKeys="true" keyProperty="id">
		
		INSERT INTO `orders`
		(
			`memberId`
		   ,`deliveryId`
		   ,`status`
		)
		VALUES
		(
			#{memberId}
		   ,#{deliveryId}
		   ,#{status}
			
		)
 	</insert>
 	
 	<select id="selectAllOrdersByMemberId" parameterType="int" resultType="com.terzobang.orders.model.Orders">
		SELECT 
			* 
		FROM
			`orders`
		WHERE 
			`memberId` = #{memberId}
	</select>
	
	<select id="selectOrdersByOrdersId" parameterType="int" resultType="com.terzobang.orders.model.Orders">
		SELECT 
			* 
		FROM
			`orders`
		WHERE 
			`id` = #{ordersId}
	</select>
	
	<update id="updateOrderStatusById" parameterType="map">

		UPDATE `orders`

		SET `status` = #{orderStatus}

		WHERE `id` = #{ordersId}

	</update>

 </mapper>