<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace ="com.terzobang.product.dao.ProductDAO">
 
 
 	<select id="selectAllProductList"  resultType="com.terzobang.product.model.Item">
		SELECT 
			*
		FROM
			`item`
	</select>
	
	<select id="selectItemByItemId"  parameterType="int"  resultType="com.terzobang.product.model.Item">
		SELECT 
			*
		FROM
			`item`
		WHERE
			`id` = #{itemId}
	</select>
	
	
	<select id="selectImageListByItemId" parameterType="int" resultType="com.terzobang.product.model.Image">
		SELECT 
			*
		FROM
			`image`
		WHERE
			`itemId` = #{itemId}
	</select>
	
	<update id="removeStock" parameterType="map">

		UPDATE `item`

		SET `stock` = #{restStock}

		WHERE `id` = #{itemId}

	</update> 
 	

 
 </mapper>